& section.redirect-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    position: sticky;
    bottom: 2rem;

    & a.redirect-button {
      color: var(--main-color);
      border: solid 1px var(--main-color);
      background-color: white;
      font-size: var(--font-size);
      padding: 8px 16px;
      border-radius: 32px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap:0.75rem;

      & img{
        height: 1.1rem;
      }
    }
  }