.droplet-background {
  overflow: hidden;
  padding-top: 25vh;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 2s linear fadeout;
  opacity: 0;
  z-index: 1;
}

.ripple-container {
  position: absolute;
  z-index: 0;
  top: 50vh;
  background-color: var(--main-color);
}

/* copied from https://codepen.io/abehjat/pen/oXMENv */

.drop {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  top: -20px;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  animation: drip 0.8s cubic-bezier(1, 0, 0.69, 0.19);
}

.drop:before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid rgba(255, 255, 255, 1);
  top: -22px;
}

.wave {
  position: relative;
  opacity: 0;
  top: 0;
  width: 2px;
  height: 1px;
  border: #fff 7px solid;
  border-radius: 300px / 150px;
  animation: ripple 1.2s 0.8s;
}

.wave:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: -5px;
  left: -5px;
  width: 2px;
  height: 1px;
  border: #fff 5px solid;
  border-radius: 300px / 150px;
  animation: ripple-2 1s;
}

@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    width: 600px;
    height: 300px;
    border-width: 1px;
    top: -100px;
    opacity: 0;
  }
}

@keyframes ripple-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}

@keyframes drip {
  0% {
    top: -10px;
  }
  100% {
    top: 50vh;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    z-index: 3000;
  }
  50% {
    opacity: 1;
    z-index: 3000;
  }
  100% {
    opacity: 0;
    z-index: 3000;
  }
}

@media screen and (min-width: 786px) {
  .wave {
    transform: scale(2.5);
  }
  .drop {
    transform: scale(2) translateY(-5px);
  }
}
