.FilterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  width: 90%;
  bottom: 0;
  position: absolute;
  background-color: beige;
  left: 5%;
  border-radius: 20px 20px 0 0;
  padding: 0;
  color: red;
  overflow: hidden;
  box-shadow: 0px -3px 19px 0px rgba(0, 0, 0, 0.3);
}

.button-filter {
  border: none;
  outline: none;
  background: none;
  padding: 1rem 1rem;
}

.button-filter {
  cursor: pointer;
}

.button-filter span {
  font-size: 3rem;
  color: var(--main-color);
}

.button-filter span.deactivated {
  color: var(--grey-medium);
}

#displayDataButton {
  background-color: var(--secondary-color);
}
