:root {
  --main-color: #164f91;
  --secondary-color: #43aa8b;
  --white: #ffffff;
  --grey-light: #ededed;
  --grey-medium: #bdbdbd;
  --grey-darker: #5a5a5a;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
/*----icon-walter-----*/
/*-------------------*/
.icon-walter-color .path1:before {
  content: "\e914";
  color: #164f91;
}
.icon-walter-color .path2:before {
  content: "\e915";
  color: #b17b3a;
  margin-left: -0.7802734375em;
}
.icon-walter-color .path3:before {
  content: "\e916";
  color: #43aa8b;
  margin-left: -0.7802734375em;
}
.icon-walter-color .path4:before {
  content: "\e917";
  color: #ffe8c7;
  margin-left: -0.7802734375em;
}
.icon-walter-color .path5:before {
  content: "\e918";
  color: #b61c1c;
  margin-left: -0.7802734375em;
}
.icon-walter-color .path6:before {
  content: "\e919";
  color: #000;
  margin-left: -0.7802734375em;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.visible {
  opacity: 1;
}
