:root {
  --main-color: #164f91;
  --secondary-color: #43aa8b;
  --white: #ffffff;
  --grey-light: #ededed;
  --grey-medium: #bdbdbd;
  --grey-darker: #5a5a5a;
  --font-size: 16px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0;
}

.leaflet-container {
  height: 100svh;
  width: 100vw;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

li {
  list-style: none;
}

/* general style for all the text pages */
.info-page {
  max-width: 800px; /* Limits the width of the content */
  margin: 0 auto; /* Centers the main element */
  padding: 2rem; /* Adds space inside the main element */

  & h1 {
    text-align: center;
    font-size: 2.5rem; /* Main title size */
    margin-bottom: 1.5rem; /* Space below the title */
  }

  & h2 {
    text-align: center;
    font-size: 2rem; /* Section title size */
    margin-top: 2rem; /* Space above section titles */
    margin-bottom: 1rem; /* Space below section titles */
  }

  & p {
    font-size: 1rem; /* Paragraph size */
    margin-bottom: 1.5rem; /* Space below paragraphs */
  }

  & ul {
    padding-left: 1.5rem; /* Indent for lists */
    margin-bottom: 1.5rem; /* Space below lists */
  }

  & li {
    margin-bottom: 0.5rem; /* Space between list items */
  }
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .info-page {
    & h1 {
      font-size: 2rem; /* Adjust title size for smaller screens */
    }

    & h2 {
      font-size: 1.5rem; /* Adjust section title size */
    }

    & p {
      font-size: 0.9rem; /* Adjust paragraph size */
    }
  }
}
