/* .width  */
::-webkit-scrollbar {
    width: 12px;
    height: 90%;

}

/* Track  */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: rgb(121, 194, 208);

}

/* Handle on hover  */
::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 168, 182);
    max-width: 100% ! important;
    overflow-x: hidden ! important;
}

.list-custom-info {
    position: relative;
    margin-top: 2rem;
}
.list-custom-info a {
    color: var(--main-color);
}

.list-reset {
    list-style: none;
    text-align: center;


}

.list-reset a {
    text-decoration: none;
}

.Paragraph {
    display: flex;
    font-size: 1.3rem;
    line-height: 1.2;
    flex-direction: column;
}


.card {
    position: relative;
    top: 3rem;
    margin-left: 0.5rem;
    margin-top: 2rem;
    width: 360px;
    height: 560px;
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(2px);
    border-radius: 35px;
    box-shadow: 0px 0px 5px gray;
    color: black;
    font-size: 20px;
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
}


.icon-walter-color {
    position: relative;
    z-index: 2000;
    font-size: 160px;



}