.leaflet-popup-content {
  padding: 8px 0;
  min-width: 200px;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;

    & .popup-info-row {
      display: grid;
      grid-template: 1fr /1fr 6fr;
      align-items: center;
      justify-items: center;
      gap:16px;
      & p {
        margin: 0;
        justify-self: left;
      }
    }
  }

  & .popup-icon {
    height: 20px;
  }
}
