.divinfo {
    display: flex;
    position: absolute;
    height: 3rem;
    z-index: 2000;
    left: 20rem;
    margin-top: 16px;
border: none;


}
.icon-etape-importante{
    display: flex;
    background-color: #43AA8B;
    width: 3rem;
z-index: 2000;
border-radius: 40px 40px 40px 40px;
border: none;
left: 20rem;
}
#InfoButton{
    display: flex;
z-index: 2000;
background-color: var(--secondary-color);
border-radius: 40px 40px 40px 40px;/
border: none;
}

.imagei {
display: flex;
z-index: 2000;
    background-color: #43AA8B;
    left: 1rem;

}

