.list-view-container {
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1999;
  background-color: #00000099;
  overflow-y: scroll;
  cursor: default;
  display: flex;
  justify-content: center;
}

.list-view-container.hidden {
  display: none;
}

.list-view-container > ul {
  height: 100vh;
  max-width: 400px;

  & .info-card-container {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & article.info-card {
      background-color: var(--white);
      height: 100%;
      border-radius: 10px;
      padding: 20px;
      width: 80vw;
      /* height: 300px; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: ;
      max-width: 400px;
    }
  }
}

/* needed because having two different scrolls creates all kind of troubles between chrome and firefox */
.list-view::-webkit-scrollbar,
.list-view-container::-webkit-scrollbar {
  display: none;
}

.info-item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.info-logo {
  max-width: 100%;
  max-height: 100%;
  margin: 20px;
  color: black;
}

.list-view-container button {
  background-color: var(--secondary-color);
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 0 auto;
}
