.navbar {
  --nav-burger-width: 32px;
  --nav-button-padding: 8px;
  --burger-menu-padding-right: 16px;
  --burger-menu-padding-top: 16px;
  --burger-menu-line-thickness: 5px;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;

  & menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10vw;
    transition: 0.6s;
    width: 100vw;
    height: 100dvh;
    background-color: var(--main-color);
    z-index: 1;

    & li {
      list-style: none;

      & a {
        font-size: 2.7rem;
        text-align: right;
        text-decoration: none;
        color: var(--white);
        opacity: 50%;
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 1;
      }

      & a.active,
      a:active {
        color: white;
        opacity: 100%;

        & svg {
          fill: white;
        }
      }
    }
  }
}

.nav-menu-button {
  position: relative;
  right: var(--burger-menu-padding-right);
  top: var(--burger-menu-padding-top);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  border: 0px;
  padding: 8px;
  height: 48px;
  width: 48px;
  position: relative;
  z-index: 10;
  border-radius: 8px;

  & div {
    transition-duration: 0.4s;
    width: var(--nav-burger-width);
    height: var(--burger-menu-line-thickness);
    border-radius: 4px;
    background-color: var(--white);
    transition-timing-function: ease-out;
  }

  & div.nav-menu-button-top-bar {
    transform: translate(0px, 14px) rotate(-45deg);
    transition-delay: 200ms;
    z-index: 10000;
  }

  & div.nav-menu-button-bottom-bar {
    transform: translate(0px, -14px) rotate(45deg);
    transition-delay: 200ms;
  }

  & div.nav-menu-button-middle-bar {
    width: 0px;
  }
}

.collapsed {
  transition: 0.3s;

  & .nav-menu-button {
    & div.nav-menu-button-top-bar,
    .nav-menu-button-middle-bar,
    .nav-menu-button-bottom-bar {
      transform: unset;
    }

    & div.nav-menu-button-middle-bar {
      width: var(--nav-burger-width);
      transition-delay: 200ms;
    }
  }

  & menu {
    transform: translateX(100%);
  }
}

/*************************/
/*********RESPONSIVE******/
/*************************/

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {
  .navbar {
    font-size: 1.4rem;
    & menu {
      gap: 1rem;

      & svg {
        height: 1.5em;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1200px) {
  .navbar {
    font-size: 1.4rem;

    & menu {
      width: unset;
      height: unset;
      border-radius: 0 0 0 var(--radius-big);
      padding: 64px 32px;
    }
  }
}

@media only screen and (min-width: 1600px) {
}
