.walter-container {
  position: absolute;
  right: 0;
  bottom: 2.4rem;
  z-index: 1998;
  /* width: 130px; */
  padding: 1rem;
  transition: all 0.2s ease-out;
}

#walter {
  height: 7rem;
}

.show-walter {
  animation: 0.5s ease-in 0s 1 normal forwards slidein;
}
.walter-container.hidden {
  animation: 0.5s ease-in 0s 1 normal forwards slideout;
}


.walter-infotip {
  position: absolute;
  left: -229px;
  bottom: 100px;
  border-radius: 20px 20px 0 20px;
  background-color: #fff;
  padding: 1.2rem;
  width: 230px;

  & p {
    color: var(--grey-darker);
    margin-top: 16px;
  }
}

.walter-container .button-close-infotip {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--secondary-color);
  font-size: 0.8rem;
  display: flex;
  gap: 8px;
  align-items: center;
}

.walter-infotip.fade-out {
  transition: all 1s ease-in;
  z-index: 0;
  animation: 0.3s ease-in 0s 1 normal both fade-out;
}

@keyframes slidein {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}
@keyframes slideout {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(50px);
  }
}


@keyframes fade-out {
  0% {
    opacity: 1;
    width: 230px;
  }

  95% {
    opacity: 0;
    width: 230px;
  }

  100% {
    opacity: 0;
    width: 0px;
  }
}


/* .hide-walter .icon-walter-color { 
 animation: 2s ease-in 1s infinite normal both bounce; 
 } */

 /* @keyframes bounce {
  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-15%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-7%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
  }
} */