.leaflet-popup-content {
  padding-top: 0.75rem;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & .itinerary_container {
    display:flex;
    justify-content: center;
    align-items: start;
  }
}
