@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --main-color: #164f91;
  --secondary-color: #43aa8b;
  --white: #ffffff;
  --black: #111111;
  --grey-light: #ededed;
  --grey-medium: #bdbdbd;
  --grey-darker: #5a5a5a;
  --font-size: 16px;

  --font-heading: 'Outfit', sans-serif;
  --font-body: 'Outfit', sans-serif;

  --font-weight-heading: 800;
  --font-weight-body: 350;

  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0;
}

.leaflet-container {
  height: 100svh;
  width: 100vw;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* This class is used to make button that have visual feedback */
.button-feedback {
  transition: transform 0.3s;
}

.button-feedback:active {
  transform: scale(1.1);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
}

/* general style for all the text pages */
.info-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--white);

  & h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--main-color);
  }

  & h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
  }

  & p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--black);
  }

  & ul {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
  }

  & li {
    list-style: circle;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    color: var(--black);
  }
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .info-page {
    & h1 {
      font-size: 2rem;
      max-width: 250px;
      text-align: left;
    }

    & h2 {
      font-size: 1.5rem;
    }

    & p {
      font-size: 0.9rem;
    }

    & li {
      font-size: 0.9rem;
    }
  }
}
